.empire__wrapper {
  width: 100%;
  background-repeat: repeat;
  overflow-x: hidden;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main__wrapper {
  position: relative;
  overflow-x: hidden;
  min-width: 1500px;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  margin: 0;
  background-image: url("../../app/images/background/full_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg__wrapper{
  /* width: 100vw; */
  background-image:url("../../app/images/background/second_background.jpg") ;
}