.impery_way {
  position: relative;
  width: 100%;
  min-height: 800px;
  margin-top: -200px;
}



.impery_way_title {
  position: absolute;
  width: 30%;
  left: 60%;
  z-index: 15;
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.impery_way_picture {
  position: absolute;
  width: 100%;
  min-height: 65%;
  right: 5%;
  top: 10%;
  transform: translate(0, 0);
  z-index: 10;
  opacity: 50%;
}

.card_picture {
  position: absolute;
  width: 30%;
  left: 14%;
  top: -30px;
  z-index: 12;
}


.impery_way_card_wrapper {
  position: absolute;
  top: 50px;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  width: 98%;
  margin-left: 1%;

}

.card {
  position: relative;
  width: 30%;
  min-height: 320px;
  border: 5px solid var(--third);
  color: var(--third);
  border-radius: 46px;
  z-index: 11;
}

.card_spec {
  z-index: 100;
  margin-top: 120px;
  background-color: var(--third);
  color: var(--secondary);
  transform: rotate(11deg);
  margin-left: 40px;
  margin-right: 20px;
}

.card_year {
  position: absolute;
  z-index: 10;
  font-family: "El Messiri", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #6A2E18;
  margin: 0;
}

.card_title {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  left: 20px;
  top: 20px;
}

.card_text {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  left: 20px;
  bottom: 20px;
}

.first_year {
  top: -50px;
  left: 200px;
}

.second_year {
  top: 320px;
  left: 30px;
}

.spec_year {
  top: 360px;
  left: -20px;
  transform: rotate(-11deg);
}

.third_year {
  top: -50px;
  right: 35px;
}

.fourth_year {
  top: 320px;
  left: 40px;
}

.spec__color {
  color: #6A2E18;
}