.footer{
  width: 100%;
  min-height:100px;
  background-color: #1C1712;
}

.social__list{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
}
.social__elem{
  width: 4%;
}
.social__link{
  padding: 5px;
}


.social__icon{
  max-width: 35px;
}


