.text {
  display: inline;
  color: var(--primary);
  font-family: var(--primary-font);
  text-align: center;
  font-weight: 500;
  /* margin-top: 150px; */
}

.title-large {
  font-size: 70px;
}

.title-medium {
  font-size: 32px;
}